* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    background-color: #1F2937;
    color: white;
}

nav {
    display: flex;
    gap: 20px;
}

nav span a {
    text-decoration: none;
    color: white;
}

.upper-side {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.right-image {
    width: 300px;
    height: auto;
    border: #4a6283 solid;
}

.wrapper {
    background-color: #1F2937;  
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-content {
    padding: 40px;
    color: white;
}

.left-content p{
    padding: 5px 0 5px 0;
}