* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    background-color: #1F2937;
    color: white;
}

nav {
    display: flex;
    gap: 20px;
}

nav span a {
    text-decoration: none;
    color: white;
}

.upper-side {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.right-image {
    width: 300px;
    height: auto;
    border: #4a6283 solid;
    display: flex;
}

.wrapper {
    background-color: #1F2937;  
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.left-content {
    padding: 40px;
    color: white;
}

.left-content h1 {
    font-size: 48px;
    font-weight: 900;
}

.left-content p{
    padding: 5px 0 5px 0;
}

button {
    background-color: #3882F6;
    color: white;
    border-color: #3882F6;
    border-radius: 7%;
    padding: 5px 15px 5px 15px;
}

.mid-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.group-of-boxes {
    display: flex;
    gap: 20px;
}

.item .box {
    border: #3882F6 solid 3px;
    padding: 80px;
    border-radius: 10%;
    display: flex;
}

